###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=CHANGE_ME
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

## DATABASE ##
DATABASE_URL="pgsql://symfony:symfony@localhost:5432/app?serverVersion=15&charset=utf8"

## AUTHORIZATION ##
JWT_TTL=15600
JWT_SECRET=T5Tp8cQC556Zp+D10Z2kE8gd8KpuZLhldorureYDOdQ=
