parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Presentation\\Http\\Resolver\\CurrentUserValueResolver\:\:resolve\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Presentation/Http/Resolver/CurrentUserValueResolver.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
